@font-face {
  font-family: 'Barlow';
  src: url(../fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: 'Barlow-700';
  src: url(../fonts/Barlow-Bold.ttf);
}

@font-face {
  font-family: 'Fraunces 9pt';
  src: url(../fonts/Fraunces_9pt-Black.ttf);
}